/* navbar */

.page-head{
    color: rgb(169, 25, 25);
    font-family: cursive;
}
.navbar-collapse{
    padding-left: 60px;
}
.nav-item{
    padding-left: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.nav-icon{
    padding-right: 30px;
}

/* home styling */
.container-home{
    background-color: #EBC7F8;
}
.home-texts{
    font-family: cursive;
    padding: 30px;
}
.main-img{
    display: flex;
    height: 20rem;
    margin-left: 20%;
    margin-top: 10%;
}
.image-move-continuous {
    animation: moveTopToBottom 3s ease-in-out infinite;
}
      
    @keyframes moveTopToBottom {
    0% {
        transform: translateY(-10px); /* Start above the original position */
    }
    50% {
        transform: translateY(10px); /* Move down to 10px below the original position */
    }
    100% {
        transform: translateY(-10px); /* Return back to the top position */
    }
    }

.button{
    margin-top: 10px;
    padding: 5px;
    border: none;
    background-color: rgb(180, 62, 16);
    color: white;
    border-radius: 30px;
}
.container-service{
    display: flex;
    justify-items: center;    
}
.heading{
    display: flex;
    justify-content: center;
    color: rgb(115, 114, 114);
    padding: 20px;  
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;    
    font-size: 20px;  
}
.subpara{
    display: flex;
    justify-content: center;
    font-family: cursive; 
    font-size: 30px;  
    text-align: center;
}
.description-title{
    color: rgb(169, 25, 25);
}
.about-img{
    width: 400px;
    height: 300px;
}
.contact-dark{
    margin-top: 20px;
    padding: 20px;
    background-color: black;
    color:beige
}
.card-title1{
    background-color: rgb(169, 25, 25);
    color: white;
    text-align: center;
}
.why-choose{
    background-color: #EBC7F8;
}
.about-details{
    margin-top: 20px;
    background-image: url(images/stats-bg.jpg);
    height: 200px;
    color: black;
    font-family: cursive;
    text-align: center;
}
.card-menu{
    margin-top: 20px;
    font-size: 20px;
    justify-content: center;
    font-style: italic;
    text-align: center;
    color: rgb(176, 175, 175);
}
.menu{
    text-align: center;
}
.customer-section{
    background-color: #cac7cc;
}
.carousel-img{
    border-radius: 60px;
    margin-left: 45%;       
}
.carousel-text{
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
.card-text{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;    
}

.swiper {
    width: 100%;
    height: 100%;
}
.swiper-slide img {
    display: block;
    width: 90%;
    height: 70%;
    object-fit: cover;
}
.swiper-container .swiper-pagination {
    position: absolute !important;
    bottom: 5px !important;
    left: 50% !important;
    transform: translateX(-50%) !important;
  }
  .swiper-container .swiper-pagination-bullet {
    background: rgba(3, 2, 81, 0.8) !important;
    width: 14px !important;
    height: 14px !important;
    border-radius: 80% !important;
    transition: all 0.3s ease !important;
  }
  .swiper-container .swiper-pagination-bullet-active {
    background: #650101 !important;
    transform: scale(1.4) !important;
  }
.carg-image {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-100%, -200%);
    opacity: 0;
    transition: opacity 0.5s ease-in-out forwards;
}
.swiper-slide:hover .carg-image {
    opacity: 1;
}
.carg-image a {
    background: rgb(104, 1, 1);
    color: white;
    width: 180%;
}
.carg-image a:hover {
    background: #bae4f1; 
}
.container-book{
    background-color: #EBC7F8;
}


